apiVersion: v1
kind: Service
metadata:
  name: {{ include "<REPO_NAME>.fullname" . }}
  labels:
    {{- include "<REPO_NAME>.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "<REPO_NAME>.selectorLabels" . | nindent 4 }}
