controlPlane: 
  distro: 
    k3s:
      enabled: true
      extraArgs:
        - "--tls-san=${vcluster_name}.${domain_name}"
        - "--kube-apiserver-arg=oidc-issuer-url=<DEX_DOMAIN_NAME>"
        - "--kube-apiserver-arg=oidc-client-id=kubernetes"
        - "--kube-apiserver-arg=oidc-username-claim=email"
        - "--kube-apiserver-arg=oidc-groups-claim=groups"

  ingress:
    enabled: true
    pathType: ImplementationSpecific
    host: "${vcluster_name}.${domain_name}"
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: HTTPS
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    spec:
      ingressClassName: "nginx"
      tls:
        - secretName: "${vcluster_name}-tls"
          hosts:
            - "${vcluster_name}.${domain_name}"

sync:
  toHost:
    serviceAccounts:
      enabled: true
